In [27]:
import numpy as np
import pandas as pd

In [90]:
def FRA_fixed(rate_long, rate_short, days_start, days_end):
    nominator = 1 + rate_long * ((days_end) / 360)
    denominator = 1 + rate_short * ((days_start) / 360)
    fra = (nominator / denominator - 1) * (360 / (days_end - days_start))
    time_start = int(days_start/30)
    time_end = int(((days_end - days_start))/30)
    time = time_start,"x",time_end
    return {fra:time}

In [91]:
FRA_fixed(0.05, 0.03, 30, 120)

{0.0565253532834582: (1, 'x', 3)}

In [92]:
df = pd.read_csv("USD rates.csv")

In [93]:
libor = df["Unnamed: 1"][0]

In [94]:
rates = pd.DataFrame(list(100 - df["Unnamed: 1"] + df["Conv, adj"])).dropna().reset_index()
rates.drop("index", axis = 1, inplace=True)
rates.rename(columns={0: "Rates"}, inplace = True)
rates

      Rates
0   0.19014
1   0.21573
2   0.32165
3   0.48287
4   0.70951
5   0.89636
6   1.08839
7   1.32104
8   1.42880
9   1.52688
10  1.60387
11  1.68196

In [95]:
times = []
for i in range(1, len(df)):
    time = 90 + i * 30
    times.append(time)
time = pd.DataFrame(times)
time.rename(columns={0: "Days"}, inplace = True)

In [96]:
df1 = pd.concat([time, rates], axis=1)

In [98]:
FRA_fixed(df1["Rates"][1], df1["Rates"][0], df1["Days"][0], df1["Days"][1])

{0.299131072617528: (4, 'x', 1)}